<!DOCTYPE html>
<html ng-app="myAppA">

<head>
  <title>AngularJS HTTP Request Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  
  <script src="./indexCnt.js"></script>
  <script src="./factory.js"></script>
</head>

<body ng-controller="MainControllerA">
  <lable>Input</lable>
 <input type="text" ng-model="input" placeholder="input"/>
 <lable>Output</lable>
 <input type="text" ng-model="output" placeholder="output"/>
 <button ng-click="outputDisplay(input)">Display Me</button>
</body>

</html>
